
  img{
      margin-top:20px;
      width: 120px;
      height: 100px;
      margin-left: 30px;
  }

  .palm{
      margin-left: -10px;
  }

  .avatar{
    float: right;
    margin-right:50px;
    margin-top:10px;
    margin-bottom:10px;
    
  }

  .avatar_color{
    background-color: #D4F1F4;
  }