

.MuiTableCell-body{
    background-color: #E7DFDD;
}

tr, th, td{
    text-align:center ;
    align-items: center;
}

.filterContainer{
    display:flex;
    flex-direction:row;
}

.commentContainer{
    display:flex;
    flex-direction:column;
}
